
.idea/.idea.MoviesSolution/.idea/indexLayout.xml
.idea/.idea.MoviesSolution/.idea/riderModule.iml
Domain/bin/Debug/net5.0/Domain.deps.json
Domain/bin/Debug/net5.0/Domain.dll
Domain/bin/Debug/net5.0/Domain.pdb
Domain/bin/Debug/net5.0/ref/Domain.dll
Domain/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Domain/obj/Debug/net5.0/Domain.AssemblyInfo.cs
Domain/obj/Debug/net5.0/Domain.AssemblyInfoInputs.cache
Domain/obj/Debug/net5.0/Domain.assets.cache
Domain/obj/Debug/net5.0/Domain.csproj.AssemblyReference.cache
Domain/obj/Debug/net5.0/Domain.csproj.CoreCompileInputs.cache
Domain/obj/Debug/net5.0/Domain.csproj.FileListAbsolute.txt
Domain/obj/Debug/net5.0/Domain.dll
Domain/obj/Debug/net5.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
Domain/obj/Debug/net5.0/Domain.pdb
Domain/obj/Debug/net5.0/ref/Domain.dll
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/Domain.csproj.nuget.g.props
Domain/obj/Domain.csproj.nuget.g.targets
Domain/obj/project.assets.json
Domain/obj/project.nuget.cache
Domain/obj/project.packagespec.json
Domain/obj/rider.project.restore.info
Infra/bin/Debug/net5.0/Domain.dll
Infra/bin/Debug/net5.0/Domain.pdb
Infra/bin/Debug/net5.0/Infra.deps.json
Infra/bin/Debug/net5.0/Infra.dll
Infra/bin/Debug/net5.0/Infra.pdb
Infra/bin/Debug/net5.0/Infra.runtimeconfig.dev.json
Infra/bin/Debug/net5.0/Infra.runtimeconfig.json
Infra/bin/Debug/net5.0/ref/Infra.dll
Infra/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Infra/obj/Debug/net5.0/Infra.AssemblyInfo.cs
Infra/obj/Debug/net5.0/Infra.AssemblyInfoInputs.cache
Infra/obj/Debug/net5.0/Infra.assets.cache
Infra/obj/Debug/net5.0/Infra.csproj.AssemblyReference.cache
Infra/obj/Debug/net5.0/Infra.csproj.CopyComplete
Infra/obj/Debug/net5.0/Infra.csproj.CoreCompileInputs.cache
Infra/obj/Debug/net5.0/Infra.csproj.FileListAbsolute.txt
Infra/obj/Debug/net5.0/Infra.dll
Infra/obj/Debug/net5.0/Infra.GeneratedMSBuildEditorConfig.editorconfig
Infra/obj/Debug/net5.0/Infra.genruntimeconfig.cache
Infra/obj/Debug/net5.0/Infra.pdb
Infra/obj/Debug/net5.0/ref/Infra.dll
Infra/obj/Infra.csproj.EntityFrameworkCore.targets
Infra/obj/Infra.csproj.nuget.dgspec.json
Infra/obj/Infra.csproj.nuget.g.props
Infra/obj/Infra.csproj.nuget.g.targets
Infra/obj/project.assets.json
Infra/obj/project.nuget.cache
Infra/obj/project.packagespec.json
Infra/obj/rider.project.restore.info
IoC/bin/Debug/net5.0/Domain.dll
IoC/bin/Debug/net5.0/Domain.pdb
IoC/bin/Debug/net5.0/Infra.dll
IoC/bin/Debug/net5.0/Infra.pdb
IoC/bin/Debug/net5.0/IoC.deps.json
IoC/bin/Debug/net5.0/IoC.dll
IoC/bin/Debug/net5.0/IoC.pdb
IoC/bin/Debug/net5.0/ref/IoC.dll
IoC/bin/Debug/net5.0/Services.dll
IoC/bin/Debug/net5.0/Services.pdb
IoC/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
IoC/obj/Debug/net5.0/IoC.AssemblyInfo.cs
IoC/obj/Debug/net5.0/IoC.AssemblyInfoInputs.cache
IoC/obj/Debug/net5.0/IoC.assets.cache
IoC/obj/Debug/net5.0/IoC.csproj.AssemblyReference.cache
IoC/obj/Debug/net5.0/IoC.csproj.CopyComplete
IoC/obj/Debug/net5.0/IoC.csproj.CoreCompileInputs.cache
IoC/obj/Debug/net5.0/IoC.csproj.FileListAbsolute.txt
IoC/obj/Debug/net5.0/IoC.dll
IoC/obj/Debug/net5.0/IoC.GeneratedMSBuildEditorConfig.editorconfig
IoC/obj/Debug/net5.0/IoC.pdb
IoC/obj/Debug/net5.0/ref/IoC.dll
IoC/obj/IoC.csproj.nuget.dgspec.json
IoC/obj/IoC.csproj.nuget.g.props
IoC/obj/IoC.csproj.nuget.g.targets
IoC/obj/project.assets.json
IoC/obj/project.nuget.cache
IoC/obj/project.packagespec.json
IoC/obj/rider.project.restore.info
Services/bin/Debug/net5.0/Domain.dll
Services/bin/Debug/net5.0/Domain.pdb
Services/bin/Debug/net5.0/Infra.dll
Services/bin/Debug/net5.0/Infra.pdb
Services/bin/Debug/net5.0/ref/Services.dll
Services/bin/Debug/net5.0/Services.deps.json
Services/bin/Debug/net5.0/Services.dll
Services/bin/Debug/net5.0/Services.pdb
Services/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Services/obj/Debug/net5.0/ref/Services.dll
Services/obj/Debug/net5.0/Services.AssemblyInfo.cs
Services/obj/Debug/net5.0/Services.AssemblyInfoInputs.cache
Services/obj/Debug/net5.0/Services.assets.cache
Services/obj/Debug/net5.0/Services.csproj.AssemblyReference.cache
Services/obj/Debug/net5.0/Services.csproj.CopyComplete
Services/obj/Debug/net5.0/Services.csproj.CoreCompileInputs.cache
Services/obj/Debug/net5.0/Services.csproj.FileListAbsolute.txt
Services/obj/Debug/net5.0/Services.dll
Services/obj/Debug/net5.0/Services.GeneratedMSBuildEditorConfig.editorconfig
Services/obj/Debug/net5.0/Services.pdb
Services/obj/project.assets.json
Services/obj/project.nuget.cache
Services/obj/project.packagespec.json
Services/obj/rider.project.restore.info
Services/obj/Services.csproj.nuget.dgspec.json
Services/obj/Services.csproj.nuget.g.props
Services/obj/Services.csproj.nuget.g.targets
Tests/bin/Debug/net5.0/appsettings.Development.json
Tests/bin/Debug/net5.0/appsettings.json
Tests/bin/Debug/net5.0/AutoMapper.dll
Tests/bin/Debug/net5.0/Castle.Core.dll
Tests/bin/Debug/net5.0/CoverletSourceRootsMapping
Tests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/net5.0/Domain.dll
Tests/bin/Debug/net5.0/Domain.pdb
Tests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/net5.0/FluentAssertions.dll
Tests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/net5.0/Infra.dll
Tests/bin/Debug/net5.0/Infra.pdb
Tests/bin/Debug/net5.0/IoC.dll
Tests/bin/Debug/net5.0/IoC.pdb
Tests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/net5.0/Microsoft.AspNetCore.JsonPatch.dll
Tests/bin/Debug/net5.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
Tests/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
Tests/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Tests/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
Tests/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
Tests/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
Tests/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
Tests/bin/Debug/net5.0/Microsoft.Identity.Client.dll
Tests/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
Tests/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
Tests/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
Tests/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Tests/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
Tests/bin/Debug/net5.0/Microsoft.OpenApi.dll
Tests/bin/Debug/net5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
Tests/bin/Debug/net5.0/Microsoft.TestPlatform.CoreUtilities.dll
Tests/bin/Debug/net5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
Tests/bin/Debug/net5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
Tests/bin/Debug/net5.0/Microsoft.TestPlatform.Utilities.dll
Tests/bin/Debug/net5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
Tests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
Tests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
Tests/bin/Debug/net5.0/Moq.dll
Tests/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
Tests/bin/Debug/net5.0/Newtonsoft.Json.dll
Tests/bin/Debug/net5.0/NuGet.Frameworks.dll
Tests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/net5.0/ref/Tests.dll
Tests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Tests/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
Tests/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
Tests/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
Tests/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
Tests/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
Tests/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
Tests/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
Tests/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
Tests/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Tests/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
Tests/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Tests/bin/Debug/net5.0/Services.dll
Tests/bin/Debug/net5.0/Services.pdb
Tests/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
Tests/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Tests/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Tests/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
Tests/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
Tests/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
Tests/bin/Debug/net5.0/System.Runtime.Caching.dll
Tests/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
Tests/bin/Debug/net5.0/testhost.dll
Tests/bin/Debug/net5.0/testhost.exe
Tests/bin/Debug/net5.0/Tests.deps.json
Tests/bin/Debug/net5.0/Tests.dll
Tests/bin/Debug/net5.0/Tests.pdb
Tests/bin/Debug/net5.0/Tests.runtimeconfig.dev.json
Tests/bin/Debug/net5.0/Tests.runtimeconfig.json
Tests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/net5.0/WebApi.deps.json
Tests/bin/Debug/net5.0/WebApi.dll
Tests/bin/Debug/net5.0/WebApi.exe
Tests/bin/Debug/net5.0/WebApi.pdb
Tests/bin/Debug/net5.0/WebApi.runtimeconfig.dev.json
Tests/bin/Debug/net5.0/WebApi.runtimeconfig.json
Tests/bin/Debug/net5.0/xunit.abstractions.dll
Tests/bin/Debug/net5.0/xunit.assert.dll
Tests/bin/Debug/net5.0/xunit.core.dll
Tests/bin/Debug/net5.0/xunit.execution.dotnet.dll
Tests/bin/Debug/net5.0/xunit.runner.reporters.netcoreapp10.dll
Tests/bin/Debug/net5.0/xunit.runner.utility.netcoreapp10.dll
Tests/bin/Debug/net5.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
Tests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Tests/obj/Debug/net5.0/ref/Tests.dll
Tests/obj/Debug/net5.0/Tests.AssemblyInfo.cs
Tests/obj/Debug/net5.0/Tests.AssemblyInfoInputs.cache
Tests/obj/Debug/net5.0/Tests.assets.cache
Tests/obj/Debug/net5.0/Tests.csproj.AssemblyReference.cache
Tests/obj/Debug/net5.0/Tests.csproj.CopyComplete
Tests/obj/Debug/net5.0/Tests.csproj.CoreCompileInputs.cache
Tests/obj/Debug/net5.0/Tests.csproj.FileListAbsolute.txt
Tests/obj/Debug/net5.0/Tests.dll
Tests/obj/Debug/net5.0/Tests.GeneratedMSBuildEditorConfig.editorconfig
Tests/obj/Debug/net5.0/Tests.genruntimeconfig.cache
Tests/obj/Debug/net5.0/Tests.pdb
Tests/obj/project.assets.json
Tests/obj/project.nuget.cache
Tests/obj/project.packagespec.json
Tests/obj/rider.project.restore.info
Tests/obj/Tests.csproj.nuget.dgspec.json
Tests/obj/Tests.csproj.nuget.g.props
Tests/obj/Tests.csproj.nuget.g.targets
WebApi/bin/Debug/net5.0/appsettings.Development.json
WebApi/bin/Debug/net5.0/appsettings.json
WebApi/bin/Debug/net5.0/AutoMapper.dll
WebApi/bin/Debug/net5.0/Domain.dll
WebApi/bin/Debug/net5.0/Domain.pdb
WebApi/bin/Debug/net5.0/Humanizer.dll
WebApi/bin/Debug/net5.0/Infra.dll
WebApi/bin/Debug/net5.0/Infra.pdb
WebApi/bin/Debug/net5.0/IoC.dll
WebApi/bin/Debug/net5.0/IoC.pdb
WebApi/bin/Debug/net5.0/Microsoft.AspNetCore.JsonPatch.dll
WebApi/bin/Debug/net5.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
WebApi/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
WebApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
WebApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
WebApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
WebApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
WebApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
WebApi/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
WebApi/bin/Debug/net5.0/Microsoft.Identity.Client.dll
WebApi/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
WebApi/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
WebApi/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
WebApi/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
WebApi/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
WebApi/bin/Debug/net5.0/Microsoft.OpenApi.dll
WebApi/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
WebApi/bin/Debug/net5.0/Newtonsoft.Json.dll
WebApi/bin/Debug/net5.0/ref/WebApi.dll
WebApi/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
WebApi/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
WebApi/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
WebApi/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
WebApi/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
WebApi/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
WebApi/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
WebApi/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
WebApi/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
WebApi/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
WebApi/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
WebApi/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
WebApi/bin/Debug/net5.0/Services.dll
WebApi/bin/Debug/net5.0/Services.pdb
WebApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
WebApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
WebApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
WebApi/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
WebApi/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
WebApi/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
WebApi/bin/Debug/net5.0/System.Runtime.Caching.dll
WebApi/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
WebApi/bin/Debug/net5.0/WebApi.deps.json
WebApi/bin/Debug/net5.0/WebApi.dll
WebApi/bin/Debug/net5.0/WebApi.exe
WebApi/bin/Debug/net5.0/WebApi.pdb
WebApi/bin/Debug/net5.0/WebApi.runtimeconfig.dev.json
WebApi/bin/Debug/net5.0/WebApi.runtimeconfig.json
WebApi/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
WebApi/obj/Debug/net5.0/apphost.exe
WebApi/obj/Debug/net5.0/ref/WebApi.dll
WebApi/obj/Debug/net5.0/staticwebassets/WebApi.StaticWebAssets.Manifest.cache
WebApi/obj/Debug/net5.0/staticwebassets/WebApi.StaticWebAssets.xml
WebApi/obj/Debug/net5.0/WebApi.AssemblyInfo.cs
WebApi/obj/Debug/net5.0/WebApi.AssemblyInfoInputs.cache
WebApi/obj/Debug/net5.0/WebApi.assets.cache
WebApi/obj/Debug/net5.0/WebApi.csproj.AssemblyReference.cache
WebApi/obj/Debug/net5.0/WebApi.csproj.CopyComplete
WebApi/obj/Debug/net5.0/WebApi.csproj.CoreCompileInputs.cache
WebApi/obj/Debug/net5.0/WebApi.csproj.FileListAbsolute.txt
WebApi/obj/Debug/net5.0/WebApi.dll
WebApi/obj/Debug/net5.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
WebApi/obj/Debug/net5.0/WebApi.genruntimeconfig.cache
WebApi/obj/Debug/net5.0/WebApi.MvcApplicationPartsAssemblyInfo.cache
WebApi/obj/Debug/net5.0/WebApi.MvcApplicationPartsAssemblyInfo.cs
WebApi/obj/Debug/net5.0/WebApi.pdb
WebApi/obj/Debug/net5.0/WebApi.RazorTargetAssemblyInfo.cache
WebApi/obj/project.assets.json
WebApi/obj/project.nuget.cache
WebApi/obj/project.packagespec.json
WebApi/obj/rider.project.restore.info
WebApi/obj/WebApi.csproj.EntityFrameworkCore.targets
WebApi/obj/WebApi.csproj.nuget.dgspec.json
WebApi/obj/WebApi.csproj.nuget.g.props
WebApi/obj/WebApi.csproj.nuget.g.targets
